# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
soil_env/
venv/
env/

# ===== Logs =====
*.log

# ===== Environment variables =====
.env

# ===== IDE =====
.vscode/
.idea/

# ===== Build =====
build/
dist/

# ===== ML / Data =====
*.h5
*.pkl

# ===== Git LFS video (allowed) =====
# (do NOT ignore mp4 because we push via LFS)

